<h2>Edit the entry</h2>

<form method="POST" action="/{{entry.id}}">
  <input type="hidden" name="_method" value="PUT">
  <input id="xcoordinate" name="xcoordinate" type="text" value="{{entry.name}}">
  <input id="ycoordinate" name="ycoordinate" value="{{entry.firstCoord}}">
  <input id="name" name="name" value="{{entry.secondCoord}}">
  <input type="submit" value="Update">
</form>