<main class="main" style="color: white;">
  <h2>Edit the marker</h2>

  <form action="/{{entry.id}}" method="post" class="form-panel">
    <input type="hidden" name="_method" value="put" class="input">
    <input id="xcoordinate" name="xcoordinate" type="text" value="{{entry.firstCoord}}" class="input">
    <input id="ycoordinate" name="ycoordinate" value="{{entry.secondCoord}}" class="input">
    <input id="name" name="name" value='{{entry.name}}' class="input">
    <input type="submit" value="Update" class="button">
  </form>
</main>