<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<br>

<form action="/" method="POST">
  <div>
    <input name='xcoordinate' type="text" id="xcoordinate" placeholder="координата x" required>
    <input name='ycoordinate' type="text" id="ycoordinate" placeholder="координата y" required>
    <input name='title' type="text" id="title" placeholder="название объекта">
  </div>
  <div>
    <button type="submit">Создать объект</button>
  </div>
</form>

<div id="map" style="width:500px; height:400px"></div>