<main class="main">

  <div>
    <form action="/" method="POST" class="form-panel">
      <input name='xcoordinate' type="text" class="input" placeholder="координата x (центр 51.16)" required>
      <input name='ycoordinate' type="text" class="input" placeholder="координата y (центр 71.47)" required>
      <input name='title' type="text" class="input" placeholder="название объекта" required>
      <button type="submit" class="button">создать объект</button>
    </form>
  </div>

  <div id="map" style="width:500px; height:400px" class="map"></div>
</main>